<%if(locals.employee){%>
    <h1>Hiiiii, <%= employee.name%>, what do you want to view?</h1>
    <br>
    
        <form action="/students/getAllStudents" method="GET">
            <div class="col-sm-3">
                <button class="btn btn-primary btn-block">Students List</button>
            </div>
        </form>
    

    <br>
    <form action="/interviews/getAllInterviews" method="GET">
        <div class="col-sm-3">
            <button class="btn btn-primary btn-block">Interviews List</button>
        </div>
    </form>
<%}else{%>
    <h1>Hiii, You can either SignIn Or Sign Up</h1>    
<%}%>

